*  {
    margin:0;
    padding:0;
}
h1{
    font-style:oblique;
    color: #50479A;
    font-size: 50px;
    font-family: fantasy;
  }
  
  .painel_lateral{
    width: 30%;
    height: 100%;
    position: fixed;
    left:0;
    text-align: center;
    background-color: antiquewhite;
    margin: 5px solid black;     
  }

  .foto {
    align-content: center;
    border-radius: 50%;
  }

  .corpo{
    width: 70%;
    position: fixed;
    right: 0;
    text-align: center;
    background-color: beige;
  }

  .final{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color:burlywood;
  }
  
  
  h3{
    font-style: italic;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: #50479A;
  }
  p, li{
    font-size: 20px;
  }
  #negrito{
    font-weight: bold;
  }
  #pequeno{
    font-style: italic;
  }